.Proyectos.card-body {
    background: radial-gradient(rgb(0, 204, 255), black);
    color: white;
      border-radius:1rem ;
}

.card.text-center{
  border-radius:1rem;
  margin: 1rem auto;
  box-shadow: .5px .5px 10px ;
  }