<div *ngFor='let proyectos of Proyectos'  class="card text-center" style="width: 18rem;">
    <div   class="Proyectos card-body">
        
        <h5 class="card-title">{{proyectos.proyecto}}</h5>
        <p class="card-text">{{proyectos.nombre}}</p>
        <p class="card-text">{{proyectos.fecha}}</p>
        <a href="#" class="btn btn-secondary" data-ds-dismiss="modal">ir a la pagina </a>
        <hr>
        <a href="#" class="btn btn-secondary " data-ds-dismiss="modal">ir a github</a>
        
    </div>    
</div>
