<section id="barra-nav">
    <nav id="navbar" class=" navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="logo navbar-brand" href="#">
                <img src="assets/img/logo-argentina.png" alt="" width="100%" height="75">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class=" color-expand bg-info p-4">
            <app-buttonlogin></app-buttonlogin>
    <app-meu></app-meu>
        </div>
    </div>
</section>

<app-login></app-login>
