/*comienzo de nav-bar*/

#barra-nav {

    position: sticky;
    top: 0px;
    z-index: 10;

}

main {

    z-index: 0;
}

#navbar {
    position: sticky;
}

#navbar div {
    display: flex;
    justify-content: space-between;
}


#navbar{
    border: none;
}





.container-fluid {
    background-color: black;
}

