<ul class="menu lista-group list text-center" data-bs-dismiss="menu">
    <li class=" list-group-item"><a href="inicio#Perfil"> Perfil </a></li>
    <li class="list-group-item"><a  href="inicio/#Experiencia"> Experiencia Laboral </a></li>
    <li class="list-group-item"><a  href="inicio#Estudios"> Estudios </a></li>
    <li class="list-group-item"><a  href="inicio#Skills"> Hard & Soft Skills </a></li>
    <li class="list-group-item"><a  href="inicio#Proyectos"> Proyectos </a></li>
    <li class="list-group-item"><a  href="inicio#Comentarios"> Contactos </a></li>
</ul>