<ul class="menu lista-group list text-center">
    <li class=" list-group-item"><a routerLink="#Perfil"> Perfil </a></li>
    <li class="list-group-item"><a  routerLink="#Experiencia"> Experiencia Laboral </a></li>
    <li class="list-group-item"><a  routerLink="#Estudios"> Estudios </a></li>
    <li class="list-group-item"><a  routerLink="#Skills"> Hard & Soft Skills </a></li>
    <li class="list-group-item"><a  routerLink="#Proyectos"> Proyectos </a></li>
    <li class="list-group-item"><a  routerLink="#Comentarios"> Contactos </a></li>
</ul>