li.list-group-item {
    background-color: transparent;
    border: none;
}



i.fa-solid.fa-user:hover {

    transition: transform .3s ease-in-out;
    transform: scale(1.25);
    color: white
}




.menu li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}


.menu li a:hover {
    color: black;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    padding: .1rem;
}