<ul class="menu lista-group list text-center">
    <!-- Button trigger modal -->
    <li class="list-group-item"><i class="fa-solid fa-user-lock" type="button" data-bs-toggle="modal"
            data-bs-target="#exampleModal"></i>
    </li>
    <li class=" list-group-item"><a href="#Perfil"> Perfil </a></li>
    <li class="list-group-item"><a href="#Experiencia"> Experiencia Laboral </a></li>
    <li class="list-group-item"><a href="#Estudios"> Estudios </a></li>
    <li class="list-group-item"><a href="#Skills"> Hard & Soft Skills </a></li>
    <li class="list-group-item"><a href="#Proyectos"> Proyectos </a></li>
    <li class="list-group-item"><a href="#Comentarios"> Contactos </a></li>
</ul>