.buton-inicio{
    color:white ;
    position: relative;
    font-size: 1.2rem;
    margin: initial;
    margin-right:90%;
    padding: .5rem;
    background-color: black;
    border-radius: 40%;
}



.buton-inicio:hover{
    
   
   color:white;
   transition: transform 0.2s ease-in-out;
   transform: scale(1.25);
   box-shadow:  2px 2px 10px;
}