<li  class=" list-group-item" ><i id="buton-principal" class="buton-inicio fa-solid fa-pen-to-square " type="button"  data-bs-toggle="modal" data-bs-target="#estudiosModal"  ></i></li>

<!-- Modal-estudios -->
<div class="modal fade" id="estudiosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-login" id="exampleModalLabel">Estudios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!--formulario-->
                <form>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">foto del titulo</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label"><b>nombre del titulo</b></label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Foto del titulo</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
                </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label"><b>Nombre del titulo</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Foto del titulo</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label"><b>Nombre del titulo</b></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
            </form>
                <!--fin del formulario-->
           
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>