<section id="Perfil">
    <br><br><br>
    <h3><b>Acerca de mi</b></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, maiores magni quos
        fugiat perferendis, debitis dolorem est sequi minus, doloribus quod incidunt.
        Quo distinctio commodi exercitationem dolorem ipsum ab necessitatibus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet totam, voluptas
        reprehenderit neque ipsum quibusdam minima eos
        sed hic non corrupti ad! Impedit, quisquam dolorum. Perspiciatis consequatur ipsa nulla optio.</p>
</section>
<br><br><br><br>
