<section id="barra-nav">
    <nav id="navbar" class=" navbar-dark bg-dark ">
        <div class="container-fluid">
            <app-logoarg></app-logoarg>
            <app-hamburger></app-hamburger>
        </div>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class=" color-expand bg-info p-4">
            <app-buttonhome></app-buttonhome>
            <ul class="menu lista-group list text-center">
                <li class=" list-group-item"><a href="dashboard#Perfildash"> Perfil </a></li>
                <li class="list-group-item"><a  href="dashboard#Experienciadash"> Experiencia Laboral </a></li>
                <li class="list-group-item"><a  href="dashboard#Estudiosdash"> Estudios </a></li>
                <li class="list-group-item"><a  href="dashboard#Skillsdash"> Hard & Soft Skills </a></li>
                <li class="list-group-item"><a  href="dashboard#Proyectosdash"> Proyectos </a></li>            </ul>
        </div>
    </div>
</section>