<section id="Experiencia"><br><br>
    <hr>
    <h3><b>Experiencia Laboral</b></h3>
    <br>
    <div class="container">
        <div *ngFor='let experiencia of Experiencia' class="row" >
            <div class="col-2">
                <div class=" logo rounded-circle">
                    <img class="circle" src="assets/img/perfil.png" height="100rem">
                </div>
            </div>
            <div class="col-4">
               <h5><b>{{experiencia.nombre}}</b></h5>
               <h6><b>inicio:</b>{{experiencia.fechaIn}} <br> <b>fin:</b>{{experiencia.fechaFin}}</h6>
            </div>

            <div class="col-6">
               <p>{{experiencia.detalle}}</p>
            </div>
            <br><br><br><br><br><br><hr>
        </div>
     
</div> 

        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-2">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/WhatsApp Image 2022-08-24 at 2.24.16 AM.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><b>Curriculum Vitae</b></h5>
                        <p class="card-text"></p>
                        <a href="assets/img/DescargaPdf.pdf" class="btn btn-secondary" target="_blank">ir al pdf</a>
                    </div>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
    <hr>








    
</section>











