
<li  class=" list-group-item"><i id="buton-principal" class="buton-inicio fa-solid fa-pen-to-square " type="button"  data-bs-toggle="modal" data-bs-target="#skillsModal"></i></li>

<div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-login" id="exampleModalLabel">skills</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">

                <!--formulario-->
                <select class="form-select" id="Experiencia">
                    <option selected>seleccione habilidad</option>
                    <option value="1">Habilidad1</option>
                    <option value="2">Habilidad2</option>
                    <option value="3">Habilidad3</option>
                    <option value="4">Habilidad4</option>
                </select>
                <form>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label"><b>Nombre Habilidad</b></label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"><b>Porsentaje</b></label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </form>
                <!--fin del formulario-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
        