/* barras de skill*/

.caja-padre {
    width: 40%;
    min-width: 50%;
    display: grid;
    transform: translate(-50%, -50%);
    margin-left: 30%;
    top: 30%;
    margin-top: 25%;

}

.contenedor {
    width: 185%;
    padding: 30px 30px 50px;
    background: linear-gradient(450deg, rgb(0, 204, 255), rgb(0, 0, 0));
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.contenedor * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    font-weight: 500;
}
.nombre{
    margin-left: -80%;
    margin-bottom: -2rem;
}

.porsentaje{
    margin-right: -80%;
}