<section id="Skills"><br><br><br>
  <h3><b>HARD Y SOFT SKILLS </b></h3>
  <!--barras de skill-->
  <div class="caja-padre">
      <div class="contenedor">

        <h2>SKILLS</h2>
    <div class="barras" *ngFor="let habilidades of Habilidad">
        <h4 class="nombre">{{habilidades.nombre}}</h4>
        <h4 class="porsentaje">{{habilidades.porsentaje}}%</h4>
        <div class="progress">
          <div class="progress-bar"  [ngClass]="" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="habilidades.porsentaje"></div>
        </div>
          
          <br>
        </div>

      </div>
    </div>
</section>