/*Estudios*/
section#Estudios{
    background:rgb(0, 204, 255);
    padding-bottom: 3rem;
}

.card{
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: .5rem .5rem 10px;
    margin: 2rem 1rem;
}

.card-body{
    border-radius: 1rem;
}
.estudios{
    border-radius: 5%;
}
img.card-img-top{
    padding: 1rem;
    border-radius: 3rem;
    }