<section id="Estudios">
    <hr>
    <h3><b>Estudios</b></h3><br>
    <app-estudiosmodal></app-estudiosmodal>
    <br>
    <div class="cotainer">
        <div class="row">
            <div class="col-4">
                <div class="estudios card" style="width: 18rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">ingles</h5>
                      <p class="card-text"> titulo de ingles</p>
                    </div>
                    <div class="estudios-body card-body">
                      <a href="#" class="card-link">click</a>
                      
                    </div>
                  </div>
            </div>

            <div class="col-4">
                <div class="estudios card" style="width: 18rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="estudios-body card-body">
                      <h5 class="card-title">programdor</h5>
                      <p class="card-text"> titulo de programador</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">click</a>
                      
                    </div>
                  </div>
            </div>

            <div class="col-4">
                <div class="estudios card" style="width: 18rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="estudios-body card-body">
                      <h5 class="card-title">secundario completo</h5>
                      <p class="card-text"> titulo del secundario</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">click</a>
                    
                    </div>
                  </div>
            </div>
        </div>
    </div>       
    
  </section>