<section id="Estudios"><br><br>
    <hr>
    <h3><b>Estudios</b></h3><br><br>
    <div class="cotainer">
        <div class="row mt-3 g-2 g-lg-3">
            <div *ngFor='let estudios of Educacion ' class="col">
                <div class="estudios card" style="width: 16rem;">
                    <img [src]="estudios.img" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{estudios.nombre}}</h5>
                      <p class="card-text"> {{estudios.nivel}}</p>
                      <p class="card-text"><b>fechaIN:</b>{{estudios.inicio}}<br><b>fechaFIN:</b>{{estudios.fin}} </p>
                    </div>
                    <div class="estudios-body card-body">
                      <button type="button" class="btn btn-secondary">
                        <a href="#" class="card-link">click</a>
                      </button>
                     
                      
                    </div>
                </div>
              </div>
            </div>
    </div>
  </section>