<section id="meu.#Estudios"><br><br>
    <hr>
    <h3><b>Estudios</b></h3><br><br>
    <div class="cotainer">
        <div class="row mt-3 g-2 g-lg-3">
            <div class="col">
                <div class="estudios card" style="width: 16rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">ingles</h5>
                      <p class="card-text"> titulo de ingles</p>
                    </div>
                    <div class="estudios-body card-body">
                      <button type="button" class="btn btn-secondary">
                        <a href="#" class="card-link">click</a>
                      </button>
                     
                      
                    </div>
                  </div>
            </div>

            <div class="col">
                <div class="estudios card" style="width: 16rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="estudios-body card-body">
                      <h5 class="card-title">programdor</h5>
                      <p class="card-text"> titulo de programador</p>
                    </div>
                    <div class="card-body">
                      <button type="button" class="btn btn-secondary">
                        <a href="#" class="card-link" class="">click</a>
                      </button>
                     
                      
                    </div>
                  </div>
            </div>

            <div class="col">
                <div class="estudios card" style="width: 16rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="estudios-body card-body">
                      <h5 class="card-title">secundario completo</h5>
                      <p class="card-text"> titulo del secundario</p>
                    </div>
                    <div class="card-body">
                      <button type="button" class="btn btn-secondary">
                        <a href="#" class="card-link">click</a>
                      </button>
                      
                    
                    </div>
                  </div>
            </div>
        </div>
    </div>       
    
  </section>