<section id="Estudios">
    <hr>
    <h3><b>Estudios</b></h3><br><br>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img src="assets/img/WhatsApp Image 2022-08-24 at 2.24.16 AM.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Titulo Del Secundario</h5>
                        <p class="card-text"></p>
                        <a href="assets/img/DescargaPdf.pdf" class="btn btn-secondary">ir al pdf</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text"></p>
                        <a href="assets/img/DescargaPdf.pdf" class="btn btn-secondary">ir al pdf</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text"></p>
                        <a href="assets/img/DescargaPdf.pdf" class="btn btn-secondary">ir al pdf</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text"></p>
                        <a href="assets/img/DescargaPdf.pdf" class="btn btn-secondary">ir al pdf</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text"></p>
                        <a href="assets/img/DescargaPdf.pdf" class="btn btn-secondary">ir al pdf</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img src="assets/img/perfil.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text"></p>
                        <a href="assets/img/DescargaPdf.pdf" class="btn btn-secondary">ir al pdf</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>
</section>