<section id="Proyectos">
    <hr>
    <h3><b>Proyectos</b></h3>
    <app-proyectosmodal></app-proyectosmodal> 
     <br>
    <div class="card text-center" style="width: 18rem;">
        <div class="Proyectos card-body">
            <h5 class="card-title">Calculadora cientifica</h5>
            <p class="card-text">esta calculadora la hice en una semana para este proyecto</p>
            <a href="#" class="btn btn-secondary">ir a la pagina </a>
            <hr>
            <a href="#" class="btn btn-secondary">ir a github</a>

        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div class="Proyectos card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-secondary">ir al codigo</a>
            <hr>
            <a href="#" class="btn btn-secondary">ir a github</a>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div class="Proyectos card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-secondary">ir al codigo</a>
            <hr>
            <a href="#" class="btn btn-secondary">ir a github</a>
        </div>
    </div>
    <hr>
</section>