
* {
    font-family: serif;
}

body,
html {
    overflow: var(--bs-list-group-border-width);
}

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

p{
    font-size: 1.3rem;
}

h3{
        text-transform: uppercase;
            letter-spacing: .3rem;
            font-size: 2rem;
}