i.fa-solid.fa-house{
    padding-left: 3.8%;
    color:white;
}

i.fa-solid.fa-house  {
    font-size: 1.5rem;
}

i.fa-solid.fa-house :hover {

    transition: transform .3s ease-in-out;
    transform: scale(1.25);
    color:black;
}
