/* barras de skill*/

.caja-padre {
    width: 40%;
    min-width: 50%;
    display: grid;
    transform: translate(-50%, -50%);
    margin-left: 30%;
    top: 30%;
    margin-top: 25%;

}

.contenedor {
    width: 185%;
    padding: 30px 30px 50px;
    background: linear-gradient(450deg, rgb(0, 204, 255), rgb(0, 0, 0));
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.contenedor * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    font-weight: 500;
}

h2 {
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;

}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

.detalles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.menu-bar {
    position: relative;
    border: 1px solid rgba(255, 136, 0, 0.911);
    border-radius: 20px;

}

.menu-bar div {
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: rgba(255, 136, 0, 0.911);
}

/*animacion*/

#html-menu {
    animation: html-barra 2s forwards;
}

@keyframes html-barra {
    100% {
        width: 100%;
    }
}

#css-menu {
    animation: css-barra 2s forwards;

}


@keyframes css-barra {
    100% {
        width: 100%;
    }
}

#js-menu {
    animation: js-barra 2s forwards;

}


@keyframes js-barra {
    100% {
        width: 100%;
    }
}

#angular-menu {
    animation: angular-barra 2s forwards;

}


@keyframes angular-barra {
    100% {
        width: 100%;
    }
}

/*termiba barras de skills*/